# ignore files created by sercom
sercom/buffer.o
sercom/configureSerial.o
sercom/communication.o
sercom/sercom

# ignore files created by Makefile
arduino/main.elf
arduino/main.hex
arduino/main.o
arduino/main.eep

# ignore DS_Store file created by MACOS
.DS_Store
